<%- include("includes/header")%>
<<body>
    <div class="container mt-4">
        <h1 class="text-center">Welcome</h1>

        <div class="row">
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Card 1</h5>
                        <p class="card-text">This is a simple card.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Card 2</h5>
                        <p class="card-text">Another example card.</p>
                        <a href="#" class="btn btn-success">Explore</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Card 3</h5>
                        <p class="card-text">Bootstrap makes it easy.</p>
                        <a href="#" class="btn btn-danger">Check It Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<%- include("includes/footer")%>
